CRYPTIC_APP_NAME=Cryptic Cinema API
CRYPTIC_ENV=dev
CRYPTIC_DATABASE_URL=sqlite:///./crypticcinema.db
CRYPTIC_CORS_ORIGINS=*
CRYPTIC_JWT_SECRET_KEY=change-me-in-production
CRYPTIC_JWT_ALGORITHM=HS256
CRYPTIC_ACCESS_TOKEN_EXPIRE_MINUTES=60
